################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MauiApp1.Droid/obj
/MauiApp1.iOS/obj
/MauiApp1.Mac/obj
/MauiApp1.WinUI/obj
